After HDFS loss
-----------------

scat-08 is a new version of basically regauss scat-06 which was lost when hdfs
was lost.

redmapper 5.10
---------------

lcat-rm06
    redmapper 5.10 best center

run-rm06s08
    redmapper rm06 with scat 08 

lcat-rmrand02
    redmapper 5.10 randoms

I did some tests and using larger pixels in healpix
is actually OK, and saves lots of memory in the case
where we load all the pixels (hadoop)

nside = [64,128,256,512,1024,4096]
time  = [39, 37, 38, 39,  45, 134]



Note lcat-07 should be thought of as lcat-proper01
    this has no strict edgecut, only the quad cut
And run-08 should be thought of as run-proper01

Run run-r01 should be thought of as run-sdssrand01 It uses lcat-sdssrand01,
which has no strict edgecut, only the quad cut
This random run can be used for run-08



