Note lcat-07 should be thought of as lcat-proper01
    this has no strict edgecut, only the quad cut
And run-08 should be thought of as run-proper01

Run run-r01 should be thought of as run-sdssrand01 It uses lcat-sdssrand01,
which has no strict edgecut, only the quad cut
This random run can be used for run-08
